TRAEFIK_DASHBOARD_HOST=subdomain.domain.tld
LETS_ENCRYPT_EMAIL=user@domain.tld
CF_DNS_API_TOKEN=
#username:password
TRAEFIK_DASHBOARD_CREDENTIALS=username:$2y$05$DBZNAuQXry6I9mtSKfrRQO975oGev0dzwaJd8qtuVTaSCLRDIABYi
